.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #FAFAFA, #8C1515); /* Gradient background */
  }
  
  .main {
    position: relative;
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    /* position: relative;
    top: -50px; Move title up */
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Added shadow to the text */
  }
  
  .description {
    text-align: center;
    color: #ffffff;
    font-size: 1.7rem;
    margin: 4rem 0;
    max-width: 60%;
    font-family: 'Inter', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  .inspired {
    position: absolute;
    bottom: 20px; /* Adjusted from the very bottom */
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin-top: 4rem; /* Space from the button */
    font-family: 'Inter', sans-serif;
  }
    
 
/* CSS */
.button39 {
  background-color: #FFFFFF;
  border: 1px solid rgb(209,213,219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: .875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button39:hover {
  background-color: rgb(182, 88, 88);
}

.button39:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button39:focus-visible {
  box-shadow: none;
}

  .emailInputGroup {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .emailInput {
    padding: 16px 24px;
    border-radius: 6px;
    border: 2px solid transparent;
    font-family: Phantomsans, sans-serif;
    font-size: .875rem;
    outline: none;
  }


  .navbar {
    display: flex;
    justify-content: space-between; /* Spread the logo and nav items on both ends */
    align-items: center; /* Center everything horizontally */
    height: 70px; /* Adjust the height as needed for your design */
    padding: 0 2rem; /* Horizontal padding */
    position: absolute; /* Continue to position navbar absolutely */
    top: 20px; /* Add space from the top of the page */
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 10;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Optional: adds a subtle shadow for depth */
  }
  
  .logo {
    display: flex;
    align-items: center; /* This will vertically center the logo with the nav items */
  }
  
  
  .logoImage {
    width: 60px; /* Maintain the aspect ratio of the logo */
  height: auto; /* Decrease the size of the logo */
  margin-right: 1rem; /* Add some space between the logo and the nav items */
}
  
.navItems {
  display: flex;
  align-items: center; /* Align the nav items horizontally */
  list-style-type: none;
  padding: 0;
  margin: 0; /* Remove default margins */
}
  
.navItem {
  margin-left: 2rem; /* Ensure consistent spacing between nav items */
}
  
.navItem a {
  text-decoration: none;
  color: #333; /* Change color as needed */
  font-size: 1rem; /* Adjust the font size as needed */
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}

  
  .navItem a:hover {
    background-color: #e7e7e7; /* Change hover color as needed */
  }
  
  @media (max-width: 768px) {
    .navbar {
      width: 95%; /* Make the navbar wider on smaller screens */
      top: 10px; /* Less space from the top on smaller screens */
    }
  
    .logoImage {
      height: 40px; /* Adjust the logo size for mobile */
    }
  
    .navItem a {
      padding: 0.5rem; /* Smaller padding for nav items on mobile */
      font-size: 0.8rem; /* Smaller font size for nav items on mobile */
    }
  }
  